
<div id="giris">
<br><h>Welcome to Twitter</h><br>
<h3>
  Connect with your friends — and other<br>
  fascinating people. Get in-the-moment<br>
  updates on the things that interest you.<br>
  And watch events unfold, in real time, <br>from every angle.
</h3>
<%= link_to 'Your Tweets', tweets_path,  class: 'btn btn-default'%><br><br>
</div>

