<div id="panel" class="panel panel-default">
  <div class="panel-body">
<div id="newtweet">
<h3> New Tweet</h3>


<%= form_for @tweet do |f| %>

    <p>
      <%= f.text_field :content %>
    </p>
    <p>
      <%= f.button :tweet %>
    </p>



<% end %>

<%= link_to 'Tweets', tweets_path %>
</div>
</div>
</div>
